<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-view></app-view> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="hero">



  <!-- <div *ngIf="response"></div> -->
        <nav>


           <img src="assets/images/Transportation_Logistics_Manager_Bronze_MAIN_IMAGE-removebg-preview.png" class="logo">

            <!-- <img src="images/menu.png" class="logo"> -->
            <ul>

                  <li>
                    <input type="text" maxlength="40"  id="input" name="input" class="input"
                       placeholder="Enter a make, model, or year" autocomplete="off" autofocus>

                      <button  class="button"  (click)="search">Search</button>


                    <!-- <a href="">Vehicles</a> -->
                    <a routerLink="/view">Vehicles</a>
                  </li>

                  <li>
                    <!-- <a href="">Details</a> -->
                    <a routerLink="/add">Details</a>
                  </li>

                  <li>
                    <!-- <a href="">Routing</a> -->
                    <a routerLink="/add">Routing</a>
                  </li>

                  <li>
                    <!-- <a href="">About Us</a> -->
                    <a routerLink="/add">About Us</a>
                  </li>
            </ul>

        </nav>
        <div>
          <router-outlet></router-outlet>
        </div>
  </div>


